<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <h3 ng-show="!data.ads.length">No ads with this criteria ...</h3>
            <ul id="ulAds">
                <li ng-repeat="ad in data.ads">
                    <div class="container well">
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class="pull-left">
                                    {{ad.title}}
                                </h3>
                            </div>
                            <div class="col-md-4">
                                <span class="pull-right">
                                    {{ad.date | date: 'd-MMM-yyyy'}}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <img src="" ng-src="{{ad.imageDataUrl}}" />
                            </div>
                            <div class="col-md-7">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        {{ad.text}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">Name</div>
                                    <div class="col-md-10 well well-sm">
                                        {{ad.ownerName}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">Email</div>
                                    <div class="col-md-10 well well-sm">
                                        {{ad.ownerEmail}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">Tel.</div>
                                    <div class="col-md-10 well well-sm">
                                        {{ad.ownerPhone}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="pagination">
                <li ng-repeat="num in getNumber(pageNums) track by $index" ng-class="{active : ($index+1) == activePage}">
                    <a href="#" class="active" ng-click="getPage($index + 1,catid,townid)">{{$index + 1}}</a>
                </li>

            </ul>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Categories</h3>
                </div>
                <div class="panel-body" >
                    <a href="#" class="btn btn-link"  ng-click="CategoryFilter(0)">All Categories</a>
                    <a href="#" class="btn btn-link" ng-repeat="cat in categories" ng-click="CategoryFilter(cat.id)">{{cat.name}}</a>
                </div>

            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Towns</h3>
                </div>
                <div class="panel-body" >
                    <a href="#" class="btn btn-link"  ng-click="TownFilter(0)">All Towns</a>
                    <a href="#" class="btn btn-link" ng-repeat="town in towns" ng-click="TownFilter(town.id)">{{town.name}}</a>
                </div>
            </div>

        </div>

    </div>
</div>