<div class="jumbotron">
    <div class="row">

        <div class="col-md-9">
            <img src="images/loading.gif" width="200px" height="200px" ng-hide="loadedAds">
            <ul id="ulAds" ng-show="loadedAds">
                <h3 ng-show="!data.ads.length">No ads with this criteria ...</h3>
                <li ng-repeat="ad in data.ads">
                    <div class="container well">
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class="pull-left">
                                    {{ad.title}}
                                </h3>
                            </div>
                            <div class="col-md-4">
                                <span class="pull-right">
                                    {{ad.date | date: 'd-MMM-yyyy'}}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <img src="" ng-src="{{ad.imageDataUrl}}" />
                                <h3 ng-show="!ad.imageDataUrl.length">No image available</h3>
                            </div>
                            <div class="col-md-7">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        {{ad.text}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">Name</div>
                                    <div class="col-md-10 well well-sm">
                                        {{ad.ownerName}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">Email</div>
                                    <div class="col-md-10 well well-sm">
                                        {{ad.ownerEmail}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">Tel.</div>
                                    <div class="col-md-10 well well-sm">
                                        {{ad.ownerPhone}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="pagination" ng-show="loadedAds">
                <li ng-repeat="num in getNumber(pageNums) track by $index" ng-class="{active : ($index+1) == activePage}">
                    <a href="#" class="active" ng-click="getPage($index + 1,catid,townid)">{{$index + 1}}</a>
                </li>

            </ul>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Categories</h3>
                </div>
                <div class="panel-body" >
                    <ul class="nav nav-pills">
                        <li ng-click="CategoryFilter(0)" ng-class="{active : 0 == catid}"><a href="#">All Categories</a></li>
                        <li ng-repeat="cat in categories" ng-class="{active : cat.id == catid}" ng-click="CategoryFilter(cat.id)"><a href="#">{{cat.name}}</a></li>
                    </ul>
                </div>

            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Towns</h3>
                </div>
                <div class="panel-body" >
                    <ul class="nav nav-pills">
                    <li ng-click="TownFilter(0)" ng-class="{active : 0 == townid}"><a href="#" >All Towns</a></li>
                    <li ng-repeat="town in towns" ng-class="{active : town.id == townid}" ng-click="TownFilter(town.id)"><a href="#">{{town.name}}</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>